*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(195, 236, 195);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;  
    
}
#heading{
    text-align: center;
}
.col-md-4 h2{
    text-align: center;
    font-weight: bolder;
}
.col-md-4 img{
    width: 22.5vw;
    border-radius: 15px;
    border: 3px solid black;
    height: 30vh;
}
.col-md-4 p{
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 3%;
}
.col-md-4{
    background-color: rgb(119, 199, 119);
    border-radius: 15px;
}
.col-md-4 h5{
    margin-bottom: 1px;
    text-align: center;
}
#birthday{
    padding: 8px;
    width: 20vw;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}
.form-container{
    text-align: center;
}

