*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(195, 236, 195);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;  
    
}
#heading{
    text-align: center;
}
.col-md-4 h2{
    text-align: center;
    font-weight: bolder;
}
.col-md-4 img{
    width: 22.5vw;
    border-radius: 15px;
    border: 3px solid black;
}
.col-md-4 p{
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 3%;
    

}
