*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(195, 236, 195);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;  
    
}
